@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Poppins:wght@500;600;700&display=swap');

:root{
    --primary-color:#191B4A;
    --yellow-fill-color:#FFD66C;
    --yellow-stroke-color:#EFB153;
    --light-text-color:#73749C;
    
}